<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BankDom Auth</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
    <!-- Add other CSS or external libraries here -->
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-menu">
                <li><a href="{{ url_for('index') }}">Home</a></li>
            </ul>
            <h1 class="page-header">BankDom</h1>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        &copy; {{ 2024 }} bankDom Bank System
    </footer>
</body>
</html>
