body {
    background-color: #f5eec7;
    color: #0a3a5a;
    font-family: BlackChancery;
    margin: 0; /* Reset margin for the body */
}

.navbar {
    background-color: #063251;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 0;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Use flexbox for menu items */
}

.nav-menu li {
    list-style: none;
    margin-right: 20px;
}

.navbar .nav-menu li a {
    color:#063251;
    text-decoration: none;
    margin: 10px;
    background-color: #f5eec7;
    padding: 15px;
    border-radius: 12px;
}

.page-header {
    color: #f5eec7;
    font-size: 25px;
    margin-right: 10px;
}


