.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.upper-section{
    flex: 1;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.building {
    display: block;
    margin: 0 auto;
    height: 50vh;
}
.image-container {
    text-align: center; /* Center the text horizontally */  
}

.bank-name {
    margin-top: -20px;
    color: #063251; /* Royal Purple color */
    font-size: 36px; /* Adjust font size as needed */
    font-weight: bold; /* Add boldness for emphasis */
    text-transform: uppercase; /* Uppercase text for elegance */
    letter-spacing: 2px; /* Increase letter spacing for a luxurious feel */
    text-shadow: 3px 8px 12px rgba(6, 50, 81, 0.5); /* Add a subtle text shadow for depth */
}

.lower-section {
    flex: 1;
    color: #f5eec7;
    background-image: linear-gradient(#f5eec7, #063251);
    display: flex;
    justify-content: center;
    border-radius: 12px;
}

.center-table{
    padding-top: -90px;
}
.center-table table{
    border-collapse: separate;
    border-spacing: 40px;
}

.center-table td {
    text-align: center;
    font-size: 25px;
}

.service-icone {
    width: 120px; /* Adjust the width to your preferred size */
    height: auto;
}

.service-icone:hover {
    padding: 10px; 
    border-radius: 15px;
    transition: 1.5s ease-in-out;
    background-color: #f5eec7;
}

.services:hover {
    background-color: #f5eec7;
    color: #063251;
    transition: 1.5s ease-in-out;
    border-radius: 10px;
}