.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.registeration-card {
    background-color: transparent transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: left;
    max-width: 400px;
    width: 100%;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-container {
    display: flex;
    flex-direction: column;
    text-align: left;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
    padding: 10px;
    border: 1px solid #063251;
    border-radius: 4px;
    font-size: 16px;
    margin: 2px;
}

select {
    padding: 10px;
    border: 1px solid #063251;
    border-radius: 4px;
    font-size: 16px;
    margin: 2px;
}

button[type="submit"] {
    background-color: #063251;
    border: none;
    color: #f5eec7;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
  
button[type="submit"]:hover {
    background-color: #f5eec7;
    color: #063251;
    transition: 1.5s ease-in-out;
    border: 2px solid #063251;
}
  
.login-box a{
    color:#063251;
}