body {
    background-color: #f5eec7;
    color: #0a3a5a;
    font-family: BlackChancery;
    margin: 0;
}


.navbar {
    position: fixed; /* Fixed position to keep the navbar at the top */
    top: 0; /* Stick it to the top */
    width: 100%; /* Full width */
    background-color: #063251;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure it's on top of other content */
}

.logo {
    width: 60px;
    height: auto;
}

.nav-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-grow: 1;
}

.nav-menu li {
    margin-right: 20px;
}

.logIn-button {
    background-color: #f5eec7;
    font-size: 15px;
    font-family: BlackChancery;
    border: none;
    height: 40px;
    width: 90px;
    border-radius: 8px;
}

/* Add some padding to the body to avoid content being overlapped by the fixed navbar */
body {
    padding-top: 60px; /* Adjust as needed based on the height of your navbar */
}
